<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EndGame</title>
    <link
      rel="shortcut icon"
      href="assets/images/website/favicon.png"
      type="image/x-icon"
    />
    <script src="scripts/console.js"></script>
</head>
<body>
    <h1>Lowest time taken in a question: <%= lowestTime %> question: <%= question1 %></h1>
    <h1>Highest time taken in a question: <%= highestTime %> question2: <%= question2  %></h1>
    <h1>maximum number of attempts in a question: <%= maxAttempts %> question3: <%= question3 %></h1>
    <h1>Total number of dares completed: <%= totalDares %></h1>
</body>
</html>