<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EndGame</title>
  <link rel="shortcut icon" href="assets/images/website/favicon.png" type="image/x-icon" />
  <script src="scripts/console.js"></script>
  <link rel="stylesheet" href="styles/cursor.css" />
  <link rel="stylesheet" href="styles/stats.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   <script src="scripts/console.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>


    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>



</head>

<body>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
 
  <div class="nav">
    <div class="artist">Stats</div>
    <div class="social-media">
      <ul>
        <li>
          <a href="/">Dashboard</a>
        </li>
        <li>
          <a href="/leaderboard">Leaderboard</a>
        </li>
      </ul>
      <div class="menu">
        <a href="/logout"><ion-icon name="power"></ion-icon></a>
      </div>
    
    </div>
    <i class="fa-solid fa-bars icon"></i>
  </div>

  <video src="https://res.cloudinary.com/dvhwz7ptr/video/upload/f_auto:video,q_auto/ovc1pcbq0lhthc8w5mgo" autoplay muted
    loop id="back" class="back"></video>
  <div id="stats">
    <h1 id="lowh" data-lowest="<%= lowestTime %>">Lowest time taken in a question: <span id="lowestSpan"></span> >>>
      <i>Question: <%- question1 %></i></h1><br>
    <h1 id="highh" data-highest="<%= highestTime %>">Highest time taken in a question: <span id="highestSpan"></span>
      >>> <i>Question: <%- question2 %></i></h1><br>
    <h1>maximum number of attempts in a question: <%= maxAttempts %> >>> <i>Question: <%- question3 %></i></h1><br>
    <h1>Total number of dares completed: <%= totalDares %>
    </h1>
  </div>
</body>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const lowestSpan = document.querySelector('#lowestSpan');
    const highestSpan = document.querySelector('#highestSpan');
    const { lowest } = document.querySelector('#lowh').dataset;
    const { highest } = document.querySelector('#highh').dataset;

    const formatTime = ms => {
      const totalSeconds = Math.floor(ms / 1000);
      const minutes = Math.floor(totalSeconds / 60);
      const seconds = totalSeconds % 60;
      return `${minutes}:${seconds < 10 ? '0' + seconds : seconds}`;
    };

    lowestSpan.textContent = formatTime(lowest);
    highestSpan.textContent = formatTime(highest);
  });
</script>

<script>
  document.addEventListener('click', function(event) {
            var iconNavbar = document.querySelector('.nav .icon');
            var isClickInside = iconNavbar.contains(event.target);

            if (!isClickInside) {
                var navbarOptions = document.querySelector('.social-media');
                navbarOptions.style.display = 'none';
            }
        });




      var icon = document.querySelector('.nav .icon');
        icon.addEventListener('click', function() {
            var navbarOptions = document.querySelector('.social-media');
            if (navbarOptions.style.display === 'flex') {
                navbarOptions.style.display = 'none';
            } else {
                navbarOptions.style.display = 'flex';
            }
        });

</script>

</html>